* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.header {
    text-align: center;
    padding: 40px;
    background: linear-gradient(145deg, #333, #111);
    border-bottom: 2px solid #444;
}

.header h1 {
    font-size: 2.5rem;
    color: #fff;
}

.container {
    padding: 20px;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.profile-card {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    background: #222;
}

.profile-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.profile-img {
    width: 100%;
    height: 60%;
    overflow: hidden;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.profile-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.3s ease;
}

.profile-card:hover .profile-overlay {
    opacity: 1;
}

.profile-overlay h2 {
    margin-bottom: 10px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-icon {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.linkedin svg, .instagram svg {
    width: 100%;
    height: 100%;
}

.profile-card:hover .social-icon {
    opacity: 1;
}

.linkedin svg {
    fill: #0077b5; 
}

@media (max-width: 750px) {
    .profile-overlay h2{
        margin:0;

    }
    .profile-overlay .social-links{
        padding-top: 1.5vw;}
    .social-links a{
        padding-top: 15px;
    }


}
